.section {
    display: flex;
    flex-direction: column;
    min-height: 112px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 0px 0px;
    flex: none;
    align-items: flex-start;
    position: relative;
    width: 300px;
    background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
    box-shadow: -4px -4px 12px rgba(34, 38, 61, 0.2), 4px 4px 12px rgba(42, 47, 74, 0.52),inset 2px 2px 2px rgba(83, 92, 136, 0.08);
    border-radius: 25px;
    
    .section-details {
        color: #D2D6EF;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        //line-height: 16px;
        text-align: left;


        img{
            width:100%;
            height:100px;
            object-fit:cover;
            object-position:50% 50%;
            margin-top: 10px;
        }

    }

    .open-hours{
        text-align: left;
    }
    
    .section-details-review{
        line-height: 19px;
        margin: 8px 0;
        text-align: left;

        .border-bottom{
            border-bottom: 1px solid #e6e6e6;
            height: 10px;
        }
        
        

        .review-text{
            line-height: 2.5;
            margin: 10px 0;
            
            h2{
                font-size: 15px;
                color: #D2D6EF;
            }

            img{
                height: 32px;
                width: 32px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                object-position:50% 50%;
            margin-top: 10px;
            }
            
        }
    }
    .section-header {
        h3{
            margin: 0px 0px;
        }
    }

    .section-ratings{
        display: flex;
        flex-direction: row;

        p{
            padding-top: 8px;
            padding-right: 5px;
        }
    }

    .section-divider-bottom-line {
        border-bottom: 1.5px solid #e6e6e6;
    }

    .right-arrow{
        
        .right{
            display: block;
            position: relative;
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
            outline: none;
            border: none;
            width: 40px;
            height: 30px;
            border: none;
            outline: none;
            margin-left: 100px;
            box-shadow: -2px -2px 6px rgba(34, 38, 61, 0.2), 2px 2px 6px rgba(42, 47, 74, 0.52), inset 2px 2px 2px rgba(83, 92, 136, 0.08);
            font-size: 18px;
            color: #D2D6EF;

            &:hover {
                box-shadow: -2px -2px 6px rgba(34, 38, 61, 0.2), 2px 2px 6px rgba(42, 47, 74, 0.52), inset 2px 2px 2px rgba(83, 92, 136, 0.08);
            }

            .fas, fas{
                color: #D2D6EF;
            }
        }
    }

    .custom-buttons{
        display: flex;
        flex-direction: row;
        

        .add-review{
            display: block;
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
            outline: none;
            border: none;
            width: 100px;
            height: 40px;
            margin-top: 10px;
            margin-left: 75px;
            box-shadow: -2px -2px 6px rgba(34, 38, 61, 0.2), 2px 2px 6px rgba(42, 47, 74, 0.52),inset 2px 2px 2px rgba(83, 92, 136, 0.08);
            font-size: 14px;
            color: #D2D6EF;

            &:hover {
                box-shadow:   
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12); 
            }
        }
        
    }
    
}

.section:hover {
    box-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 
}


    

