.section {
    display: flex;
    flex-direction: column;
    min-height: 112px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 0px 0px;
    flex: none;
    align-items: flex-start;
    position: relative;
    width: 300px;
    background: white;
    box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
    border-radius: 25px;
    
    .section-details {
        color: #70757A;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        //line-height: 16px;
        text-align: left;


        img{
            max-width: 100%;
            max-height: 100%;
        }

    }

    .open-hours{
        text-align: left;
    }
    
    .section-details-review{
        line-height: 19px;
        min-height: 40px;
        margin: 8px 0;
        text-align: left;

        .border-bottom{
            border-bottom: 1px solid #e6e6e6;
            height: 10px;
        }
        
        

        .review-text{
            line-height: 1.5;
            margin: 10px 0;
            
            h2{
                font-size: 15px;
            }
            
        }
    }
    .section-header {
        h3{
            margin: 0px 0px;
        }
    }

    .section-ratings{
        display: flex;
        flex-direction: row;

        p{
            padding-top: 8px;
            padding-right: 5px;
        }
    }

    .section-divider-bottom-line {
        border-bottom: 1.5px solid #e6e6e6;
    }

    .right-arrow{
        
        .right{
            display: block;
            position: relative;
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            background-color: white;
            outline: none;
            border: none;
            width: 40px;
            height: 30px;
            border: none;
            outline: none;
            margin-left: 100px;
            box-shadow: -2px -2px 6px rgb(255, 255, 255), 2px 2px 6px rgba(121, 130, 160, 0.747);
            font-size: 18px;
            color: black;

            &:hover {
                box-shadow:inset -4px -4px 8px rgb(255, 255, 255),
            inset  4px 4px 8px rgba(121, 130, 160, 0.747);
            }
        }
    }
}

.section:hover {
    box-shadow:   
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 
}


    

