.form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed';
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 25px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow:   
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12); 

    input {
        border-radius: 25px;
        padding: 10px;
        margin: 5px;
    }

    button{
        min-width: 165px;
        border-radius: 25px;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        margin: 20px;
        font-size: 15px;
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        font-weight: bolder;
        border: none;
        cursor: pointer;
        box-shadow:   
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12); 
        
        &:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    }
}