.restaurant-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 300px;
    
    
    .section {
        display: flex;
        flex-direction: column;
        min-height: 112px;
        padding: 15px 15px 15px 15px;
        margin: 10px 10px 0px 0px;
        flex: none;
        align-items: flex-start;
        position: relative;
        width: 300px;
        background: white;
        box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
        border-radius: 25px;
        
        .section-details {
            color: #70757A;
            display: inline-block;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
        }
        
        .section-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3{
                margin: 0px 0px;
            }
        }
        .section-divider-bottom-line {
            border-bottom: 1.5px solid #e6e6e6;
        }
        .right-arrow{
            
            .right{
                cursor: pointer;
                position: relative;
                border-radius: 10px;
                width: 40px;
                height: 30px;
                border: none;
                outline: none;
                margin-left: 100px;
                box-shadow: -2px -2px 6px rgb(255, 255, 255), 2px 2px 6px rgba(121, 130, 160, 0.747);
                font-size: 18px;
                color: black;
            }
        }
    }

    .section:hover {
        box-shadow:   
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); 
    }


    
}
