.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    align-items: center;
    z-index: 0;

    @media screen and (max-width: 400px) {
            display: flex;
            flex-direction: column;
            height: 125px;
    }
    
    

    .logo-container {
        display: block;
        position: relative;
        width: 150px;
        height: 70px;
        background: white;
        box-shadow: -2px -2px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.647);
        border-radius: 35px;
        
        h1{
            font-size: 50px;
            text-align: center;
            line-height: 75px;
            background: -webkit-gradient(linear, left top, right top, from(rgb(36, 35, 35)), to(#abb0bb));
            background: linear-gradient(to right, rgb(36, 35, 35), #abb0bb);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        @media screen and (max-width: 400px) {
            width: 120px;
            height: 65px;

            h1{
                font-size: 35px;
                text-align: center;
                line-height: 75px;
            }
        }
    }
    .custom-button {
        display: block;
        position: relative;
        box-shadow:-4px -4px 12px rgb(255, 255, 255),
         4px 4px 12px rgba(121, 130, 160, 0.747);
        width: 220px;
        height: 45px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: bold;
        outline: none;
        border: none;
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        line-height: 36px;
        margin: 20px;
        padding: 5px 15px;
        cursor:pointer;

        
        @media screen and (max-width: 570px) {
            
            font-size: 17px;
            
        }
        @media screen and (max-width: 515px) {
            
            font-size: 16px;
            
        }
        @media screen and (max-width: 445px) {
            
            font-size: 15px;
            
        }

    
    &:hover {
        box-shadow:inset -4px -4px 8px rgb(255, 255, 255),
    inset  4px 4px 8px rgba(121, 130, 160, 0.747);
    }
    
    }
}
