.restaurant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    opacity: 1;
    width: 375px;
    height: 690px;
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.4), 4px 4px 12px rgba(121, 130, 160, 0.747);
    background: #fff;
    box-sizing: border-box;
    padding: 20px 0px;
    position: relative;
    z-index:2;
    overflow: auto;
    border-radius: 5px;
    
    &::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
    &::-webkit-scrollbar-track {
        background: #f0f0f0;        /* color of the tracking area */
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid #f0f0f0;  /* creates padding around scroll thumb */
    }
}