.restaurant-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 300px;
    //background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
    
    
    .section {
        display: flex;
        flex-direction: column;
        min-height: 112px;
        padding: 15px 15px 15px 15px;
        margin: 10px 10px 0px 0px;
        flex: none;
        align-items: flex-start;
        position: relative;
        color: #D2D6EF;
        width: 300px;
        background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
        box-shadow: -4px -4px 12px rgba(34, 38, 61, 0.2), 4px 4px 12px rgba(42, 47, 74, 0.52),rgba(83, 92, 136, 0.08);
        border-radius: 25px;
        
        .section-details {
            color: #D2D6EF;
            display: inline-block;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
        }
        
        .section-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3{
                margin: 0px 0px;
                color: #D2D6EF;
            }
        }
        .section-divider-bottom-line {
            border-bottom: 1.5px solid #e6e6e6;
        }
        .right-arrow{
            
            .right{
                display: block;
                position: relative;
                cursor: pointer;
                position: relative;
                border-radius: 10px;
                background: radial-gradient(127.99% 191.14% at 17.5% 0%, #444A6D 0%, #2D324D 100%);
                outline: none;
                border: none;
                width: 40px;
                height: 30px;
                border: none;
                outline: none;
                margin-left: 105px;
                box-shadow: -2px -2px 6px rgba(34, 38, 61, 0.2), 2px 2px 6px rgba(42, 47, 74, 0.52),inset 2px 2px 2px rgba(83, 92, 136, 0.08);
                font-size: 18px;
                color: black;

                &:hover {
                    box-shadow:   
                    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12); 
                }
            }
        }
    }

    .section:hover {
        box-shadow:   
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); 
    }


    
}
